@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');


#results {
    display: none;
}

#results-message {
    color: rgb(47, 78, 130);
}

body {
    margin: 0;
    padding: 20px;
    background-color: rgb(206, 70, 80);
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('../images/plate_bgd.png');
    background-repeat: repeat;
    background-size: auto;
}

h1 {
    margin-bottom: 0px;
    line-height: 1.4;

}

.title-main {
    font-family: Georgia, serif;
    font-size: 70px;
    font-weight: bold;
    color: rgb(47, 78, 130);
}

.title-sub {
    font-family: 'Timmana', sans-serif;
    font-size: 90px;
    color: #5B8DBE
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: rgb(206, 70, 80);
    line-height: 1.4;

}



#container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 25px;
    border: 10px solid rgb(206, 76, 80);
    position: relative;
}

button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border: 3px solid rgb(47, 78, 130);
    background-color: rgb(47, 78, 130);
    cursor: pointer;
    border-radius: 20px;
    color: white
}

button:hover {
    background-color: darkgray;
    border-radius: 20px;

}


#play-again {
    background-color: rgb(206, 70, 80);
    color: white;
    border: none;
    margin-top: 20px;


}

#left-column,
#right-column {
    flex: 1;
    padding: 10px;
}

#columns-container {
    display: flex;
    gap: 20px;
}

#left-column div,
#right-column div {
    background-color: #f0f0f0;
    border: 2px solid #d0d0d0;
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s;
}

#left-column div:hover,
#right-column div:hover {
    background-color: #e0e0e0;
    border-color: #999;
    transform: scale(1.02);
}

#left-column div.selected,
#right-column div.selected {
    background-color: #d0d0d0;
    border: 3px solid #4CAF50;
    transform: scale(1.05);
}

#left-column div.correct,
#right-column div.correct {
    background-color: #c8e6c9;
    border: 3px solid #4CAF50;
    pointer-events: none;
    opacity: 0.7;
}

#left-column div.incorrect,
#right-column div.incorrect {
    background-color: #ffcdd2;
    border: 3px solid #f44336;
}

.usa-graphic {
    text-align: center;
    margin: auto;
}

.usa-graphic img {
    max-width: 500px;
    height: auto;
}

#timer {
    font-family: 'Electrolize', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: rgb(47, 78, 130);
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 4px;
    border: 6px solid rgb(47, 78, 130);
    outline: 1px solid white;
    outline-offset: -5px;
    display: inline-block;
}



#errors {
    font-size: 32px;
    font-weight: bold;
    color: #cc0000;
    padding: 10px 0px;
}

#instructions-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;  
    align-items: center;      
    z-index: 1000;
}

.box-title {
    margin-bottom: 15px;
    line-height: .75;
}

.box-title-main {
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: bold;
    color: #2f4e82;
    display: block;
    margin-bottom: 5px;  
}

.box-title-sub {
    font-family: 'Timmana', sans-serif;
    font-size: 45px;
    color: #5B8DBE;
    display: block;
}

.instructions-content h2 {
    color: #2f4e82;
    margin-bottom: 10px; 
    font-size: 32px;
}

.instructions-content ol {
    display: inline-block;
    text-align: left;
    margin: 10px 0; 
    line-height: 1.8;
    padding-left: 25px;
}

.instructions-content li {
    margin: 5px 0;  
    font-size: 16px;
}

.instructions-content p {
    margin: 10px 0;  
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.instructions-content {
    background-color: white;
    padding: 25px 40px;  
    border-radius: 15px;
    border: 5px solid #2f4e82;
    max-width: 500px;
    text-align: center;
}

#help-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2f4e82;
    color: white;
    font-size: 18px;
    border: none;
    cursor: help;
    display: flex; 
    align-items: center;  
    justify-content: center;
}

#help-button:hover {
    background-color: #5B8DBE;
}

#sound-toggle {
    position: absolute;
    top: 15px;
    right: 60px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #2f4e82;
    cursor: pointer;
}

#sound-toggle:hover {
    color: #5B8DBE;
    text-decoration: underline;
}
