#results {
    display: none;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #cb1b1b;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(33, 33, 219);
}

#container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border: 3px solid black;
}

button {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    margin: 10px;
    border: 2px solid black;
    background-color: lightgray;
    cursor: pointer;
        border-radius: 20px;

}

button:hover {
    background-color: darkgray;
        border-radius: 20px;

}

#left-column,
#right-column {
    flex: 1;
    border: 2px solid black;
    padding: 10px;
}

#columns-container {
    display: flex;
    gap: 20px;
}